
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  html, body{
    display: grid;
    height: 80vh;
    width: 100%;
    place-items: center;
    background-color: #CCD6DD;
 
  }

    button {
       background-color: #55ACEE;
         margin-top: 30px; 
        cursor: pointer;
        border-radius: 6px;
         padding: 6px 15px; 
   } 
    button:active{
        transform: translateY(4px);
    }

     .name{
        border: 2px solid #CCD6DD;
       background-color: #66757F;
       border-radius: 8px;
    } 

    a{
        text-decoration: none;
        margin: 60px 0px 5px 0px ;
    }
  
 h1,h2,h4{
    text-align:center;
    color:#E1E8ED;
    margin: 0px 0px 70px 0px;
  }    
  
  .username {
        width: 100%;
        margin: 30px 0px 0px 20px;
        color: #CCD6DD;
        border-radius: 8px;
    }
    
    
    .signupbutton {
        margin: 50px 0px 0px 0px;
    } 
   input[type=text],input[type=password] {
        width: 400px;
        padding: 5px 10px;
        margin: 5px 35px;
        display: inline-block;
        border: 1px solid #292f33;
        }
        #login{
            height:40px;
            width:70%;
        }

 
    @media only screen and (max-width: 800px)
    {
            img {
  width: 80%;
  height: auto;
   }
}

@media only screen and (max-width:500px){
  
    input[type=text],input[type=password] {
        width: 150px;
        padding: 3px 5px;
        margin: 3px 20px;
        
        }

 h1,h2,h4{
    margin-bottom: 40px;
 }

 .signupbutton {
    margin: 20px 0px 0px 0px;
} 
    
}

