* {
  margin: 0;
  padding: 0;
}

/* navbar */
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  width: 100%;
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  font-size: 36px;
  margin-top: 0;
  /* margin-left: 30px; */
}

@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events {
  background-color: rgba(0, 0, 0, 0.905);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.event-h {
  padding: 40px;
}

.event-card {
  padding: 20px 2px;
  background-color: black;
  margin: 2px;
  color: white;
  min-width: 300px;
  font-family: sans-serif;
  position: relative;
}

.event-card:hover {
  /* background-color: rgba(0, 0, 0, 0.568); */
  cursor: pointer;
  transition: all 0.3s;
  filter: grayscale(1);
}
.event-card:hover img {
  opacity: 10%;
}

.event-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 304px;
  height: 145.3px;
  opacity: 10%;
}

.space {
  margin: 10px;
}

.flat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}

.bar {
  color: goldenrod;
  margin: 0 5px;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.menuham {
  display: none;
}

@media screen and (max-width: 600px) {
  .menuham {
    height: 47.33px;
    display: block;
  }
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {

  .topnav a,
  .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }

  .mainnav {
    display: none;
  }

}

a:hover {
  background-color: white;
  opacity: 30%;
}

a {
  text-decoration: none;
  color: white;
}

/* notification modal */
.alertDiv {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 220px;
  height: 40px;
  top: -100px;
  right: 50%;
  transform: translateX(50%);
  transition: transform 1s all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.error {
  top: 6px;
  background-color: rgb(248 113 113);
}

.success {
  top: 6px;
  background-color: rgb(74 222 128);
}

.message {
  top: 6px;
  background-color: rgb(129 140 248);
}

.user {
  
}