/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login {
    padding: 72px 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: none;
}

.login > * {
    margin: 2px;
}

.login button {
    margin-top: 24px;
}

.login h1 {
    margin-bottom: 24px;
}

input {
    border: 1px rgba(0, 30, 255, 0.378) solid;
    border-radius: 2px;
    padding: 12px;
}

input:focus {
    outline: none;
}

button {
    padding: 12px;
    color: white;
    font-weight: 400;
    background-color: rgb(66, 66, 226);
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(56, 56, 218);
}

@media (min-width: 480px) {
    .container {
        background-color: rgba(0, 0, 0, 0.05);
    }
    .login {
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
}